.container-search {
    position: relative;
    margin-top: 1em;
}
.container-search__icon {
    position: absolute;
    width: 20px;
    top: 7px;
    left: 8px;
}
.container-search__icon > svg {
    color: #14171a85;
}
.container-search__icon:hover {
    background-color: transparent;
    cursor: default;
}
.container-search__icon:hover > svg {
    color:  #14171a85;
}
.container-search__input {
    width: 100%;
    border-radius: 25px;
    height: 35px;
    padding: 0 30px;
    background: #0d54742b;
    border: none;
}
.container-search-user {
    width: 116%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;
}
.container-search-user::-webkit-scrollbar {
    width: 0.5rem;
}
.container-search-user::-webkit-scrollbar-track {
    background: white;
}
.container-search-user::-webkit-scrollbar-thumb {
    background: rgb(29, 161, 242);
    border-radius: 5px;
}