.tweet-container{
    display: flex;   
    width: 92%;
    padding: 0em 1em;
    margin: 0 auto;
    border-bottom: 1px solid;
}
.tweet-container > div {
    width: 100%;
}
.row {
    display: flex;
    align-items: center;
}

.c1 {
    flex-basis: 7%;
}
.c1--m-right {
    margin-right: 10px;
}
.c1>img{
    border-radius: 50%;
    display: block;
    width: 50px;
    margin-top: 10px;
}
.c2>h6{
    text-align: left;
    margin: 5px 0px;
    font-size: 1.2em;
}
.c2--flex {
    display: flex;
    align-items: center;
}
.c2 > div {
    /* height: 50px; */
    width: 20px;
    padding-top: 7px;
    cursor: pointer;
    transition: .2s all;
    border-radius: 50%;
}
.c2 .c2__title--m-left {
    margin-left: 0.5rem;
}
.c2__title--font-normal {
    font-weight: normal;
}
.c2 .c2__icon--badge > svg {
    color: rgb(29, 161, 242);
}
.c2 .c2__icon--badge:hover {
    background-color: transparent;
    cursor: default;
}
.c2 .c2__icon--badge:hover > svg {
    color: rgb(29, 161, 242);
}
.row>.content{
    /* font-weight: bold; */
    font-size: 1.3em;
    text-align: left;
}
.container-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: flex-start;
}
.container-icons > div {
    /* height: 50px; */
    width: 20px;
    padding: 0.8em;
    cursor: pointer;
    transition: .2s all;
    border-radius: 50%;
    position: relative;
}
.t-icon__quantity {
    position: absolute;
    top: 11px;
    margin-left: 17px;
    width: 100px;
    text-align: initial;
}